@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer utilities {
  /* viejo contenido se desvanece y se mueve hacia arriba */
  ::view-transition-old(root) {
    animation: page-out 0.5s ease forwards;
  }

  /* nuevo contenido aparece desvanecido y se mueve desde abajo */
  ::view-transition-new(root) {
    animation: page-in 0.5s ease forwards;
  }

  @keyframes page-out {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-20px);
    }
  }

  @keyframes page-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
.swal2-actions .swal2-deny {
  @apply focus:outline-none focus:ring-2 focus:ring-offset-2 bg-red-600 hover:bg-red-500 active:bg-red-700 focus:bg-red-500 focus:ring-red-500;
}

.swal2-actions .swal2-confirm {
  @apply focus:outline-none focus:ring-2 focus:ring-offset-2 bg-slate-800 hover:bg-slate-700 active:bg-slate-900 focus:bg-slate-700 focus:ring-slate-700;
}

.swal2-actions .swal2-cancel {
  @apply border focus:outline-none focus:ring-2 focus:ring-offset-2 border-slate-800 text-slate-800 bg-white hover:bg-slate-800 hover:text-white active:bg-slate-900 active:text-white focus:bg-slate-700 focus:text-white focus:ring-slate-700;
}

.swal2-modal{
  @apply bg-white;
}


html,
body {
  /* @apply bg-white dark:bg-gray-950; */
  @apply bg-white w-screen h-screen overflow-y-hidden;

  @media (prefers-color-scheme: light) {
    color-scheme: light;
  }
}
